@model List<Invoicebook.Models.Client>
@{
    ViewData["Title"] = "Clients";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<div class="content">
    <h2 class="mb-3">Clients</h2>
    <table id="clientsTable" class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th style="width: 60px;">Edit</th>
                <th style="width: 40px;"></th>
                <th>Number</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Paid to Date</th>
                <th>Contact Name</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Client", new { id = client.Id })">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-secondary options-btn" data-id="@client.Id">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </td>
                    <td>@client.Number</td>
                    <td>@client.Name</td>
                   <td>@(client.Balance?.ToString("C") ?? "-")</td>
                    <td>@(client.paid_to_date?.ToString("C") ?? "-")</td>
                    <td>@client.ContactName</td>
                    <td>@(client.Created_at?.ToString("yyyy-MM-dd") ?? "-")</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Options Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-file-pdf mr-2"></i>View Statement</li>
                    <li class="list-group-item"><i class="fas fa-cloud mr-2"></i>Client Portal</li>
                    <li class="list-group-item"><i class="fas fa-cog mr-2"></i>Settings</li>
                    <li class="list-group-item"><i class="fas fa-plus mr-2"></i>New Invoice</li>
                    <li class="list-group-item"><i class="fas fa-plus mr-2"></i>New Quote</li>
                    <li class="list-group-item"><i class="fas fa-plus mr-2"></i>Enter Payment</li>
                    <li class="list-group-item"><i class="fas fa-plus mr-2"></i>New Task</li>
                    <li class="list-group-item"><i class="fas fa-plus mr-2"></i>New Expense</li>
                    <li class="list-group-item text-danger"><i class="fas fa-trash mr-2"></i>Delete</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#clientsTable').DataTable();

        // Options button click
        $(document).on('click', '.options-btn', function () {
            $('#optionsModal').modal('show');
        });
    });
</script>
